<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>試作</title>
</head>
<body>
  <h2>ダンロンの詳細</h2>
  <table>
    <tr><th>キャラ名</th><th>肩書</th><th>誕生日</th><th>声優</th><th>エンド</th></tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <tr><td><%= row.id %></td>
        <td><%= row.code %></td>
        <td><a href="/dangan"><%= row.name %></a></td></tr>
        <% number += 1 %>
      <% } %>
  </table>
</body>
</html>